<ion-header>
  <ion-toolbar color="primary">
    <ion-title>GameZone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-searchbar [(ngModel)]="title" (ionChange)="searchChanged()"></ion-searchbar>

  <ion-item>
    <ion-label>Select Search Type</ion-label>
    <ion-select [(ngModel)]="type"  (ionChange)="searchChanged()">
      <ion-select-option value="name">Name</ion-select-option>
      <ion-select-option value="genres">Genres</ion-select-option>
      <ion-select-option value="platforms">Platforms</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-list>

    <ion-item button *ngFor="let item of results" [routerLink]="['/','games',item.id]" (click)="select(item)" >

      <ion-avatar slot="start">
        <img src={{item.background_image}} alt={{item.name}}>
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{item.name}}</h3>
        {{item.released}}
      </ion-label>

      <ion-icon *ngIf="item.platforms.isXbox" name="logo-xbox"></ion-icon>
      <ion-icon *ngIf="item.platforms.isPC" name="laptop-outline"></ion-icon>
      <ion-icon *ngIf="item.platforms.isPS" name="logo-playstation"></ion-icon>


    </ion-item>
  </ion-list>
</ion-content>
